@model  IPagedList<DuAnRapChieuPhim.Models.RapChieu>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Theatre";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar
                </div>
            </div>
        </div>-->
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <button type="button" class="btn btn-primary createNewButton" data-toggle="modal" data-target="#addMovieModal">
            Khai trương rạp
        </button>
        <table class="table">
            <tr>
                <th>
                    Mã rạp
                </th>
                <th>
                    Tên rạp
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Cụm
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaRap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenRap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cum)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary edit-button" data-toggle="modal" data-target="#editMovieModal" data-id="@item.MaRap">
                            Sửa
                        </button>
                        <button type="button" class="btn btn-info details-button" data-toggle="modal" data-target="#detailsMovieModal" data-id="@item.MaRap">
                            Chi tiết
                        </button> |
                        <button type="button" class="btn btn-danger delete-button" data-toggle="modal" data-target="#deleteConfirmationModal" data-id="@item.MaRap">
                            Đóng cửa
                        </button>
                    </td>
                </tr>
            }
        </table>
        <div class="pagination justify-content-center">
            <ul class="pagination">
                @if (Model.PageCount > 1)
                {
                    <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Movie", new { page = 1, size = ViewBag.SelectedSize })"><<</a>
                    </li>
                    <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Movie", new { page = Model.PageNumber - 1, size = ViewBag.SelectedSize })"><</a>
                    </li>
                    for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Movie", new { page = i, size = ViewBag.SelectedSize })">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Movie", new { page = Model.PageNumber + 1, size = ViewBag.SelectedSize })">></a>
                    </li>
                    <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Movie", new { page = Model.PageCount, size = ViewBag.SelectedSize })">>></a>
                    </li>
                }
            </ul>
        </div>
    </div>
</main>
<div class="modal fade" id="addTheaterModal" tabindex="-1" role="dialog" aria-labelledby="addTheaterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMovieModalLabel">Khai trương rạp mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken();
                    <div class="form-group">
                        <label for="MaRap" class="control-label">Mã rạp</label>
                        <input type="text" id="MaRap" name="MaRap" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>
                    <div class="form-group">
                        <label for="TenRap" class="control-label">Tên rạp</label>
                        <input type="text" id="TenRap" name="TenRap" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>
                    <div class="form-group">
                        <label for="Diachi" class="control-label">Địa chỉ </label>
                        <input type="text" id="Diachi" name="Diachi" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>
                    <div class="form-group">
                        <label for="Cum" class="control-label">Cụm rạp</label>
                        <input type="text" id="Cum" name="Cum" placeholder="Thêm Cụm Mới" class="form-control" />
                        <select id="Cum" name="Cum" class="form-control">
                            <option value="">Chọn cụm rạp</option>
                            @foreach (var cum in ViewBag.CumList as List<string>)
                            {
                                <option value="@cum">@cum</option>
                            }
                        </select>
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>
                    <!-- Add other form fields as needed -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary huy-button" data-dismiss="modal">Close</button>
                        <button id="saveChangesButton" type="submit" class="btn btn-primary">Save changes</button>
                        <button id="ThemButton" type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận ngưng bán</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn ngưng bán sản phẩm này ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary huy-button" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Chắc chắn</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="selectedItemId" />
<script>
    function resetModalState() {
        $("#MaRap, #TenRap, #Diachi,#Cum, #addTheaterModalLabel").val("");
        $("#saveChangesButton, #ThemButton").show();
        $("#Marap, #TenRap, #Diachi,#Cum, #addTheaterModalLabel").prop("disabled", false);
    }
    $(document).ready(function () {
        $(".createNewButton").click(function () {
            resetModalState();
            $("#addTheaterModalLabel").val("Thêm");
            $("#saveChangesButton").hide();
            $("#addTheaterModal").modal("show");
        });
    });
    $(document).ready(function () {
        $("#saveChangesButton").click(function () {
            // Gọi hành động sửa ở đây
            $("#myForm").attr("action", "/XuLy/EditTheater");
            $("#myForm").submit();
        });
        $("#ThemButton").click(function () {
            // Gọi hành động thêm ở đây
            $("#myForm").attr("action", "/XuLy/AddTheater");

            $("#myForm").submit();
        });
    });
    $(document).ready(function () {
        $(".edit-button").click(function () {
            resetModalState();
            var itemId = $(this).data("id");
            $("#selectedItemId").val(itemId);
            // Gửi yêu cầu Ajax để lấy dữ liệu cho mục đã chọn
            $.ajax({
                url: '/XuLy/EditTheater', // Thay thế bằng tên thực của controller và action
                type: 'GET',
                data: { id: itemId },
                success: function (data) {
                    $("#addTheaterModalLabel").val("Sửa");
                    // Điền dữ liệu vào các trường trong modal
                    $("#MaRap").val(data.theater.MaRap);
                    $("#TenRap").val(data.theater.TenRap);

                    $("#Diachi").val(data.theater.Diachi);
                    $("#Cum").val(data.theater.Cum);

                    $("#ThemButton").hide();
                    // Hiển thị modal
                    $("#addTheaterModal").modal("show");
                },
                error: function () {
                    alert("Lỗi khi lấy dữ liệu.");
                }
            });
        });
    });
    $(document).ready(function () {
        $(".details-button").click(function () {
            var itemId = $(this).data("id");
            $("#selectedItemId").val(itemId);
            // Gửi yêu cầu Ajax để lấy dữ liệu cho mục đã chọn
            $.ajax({
                url: '/XuLy/EditTheater', // Thay thế bằng tên thực của controller và action
                type: 'GET',
                data: { id: itemId },
                success: function (data) {
                    $("#addMovieModalLabel").val("Chi tiết");
                    // Điền dữ liệu vào các trường trong modal
                    $("#MaRap").val(data.theater.MaRap);
                    $("#TenRap").val(data.theater.TenRap);
                    $("#Diachi").val(data.theater.Diachi);
                    $("#Cum").val(data.theater.Cum);
                    $("#ThemButton").hide();
                    // Tắt khả năng chỉnh sửa các trường dữ liệu
                    $("#TenPhim, #Ngay,#TrangThai,#TheLoai,#ThoiLuong,#DienVien,#DaoDien,#NgonNgu,#Video,#AnhBia, #addMovieModalLabel").prop("disabled", true);
                    // Hiển thị modal
                    $("#addTheaterModal").modal("show");
                },
                error: function () {
                    alert("Lỗi khi lấy dữ liệu.");
                }
            });
        });
    });
    $("#confirmDeleteButton").click(function (e) {
        e.preventDefault();
        // Lấy giá trị từ input có id là "selectedItemId"
        var selectedItemId = $("#selectedItemId").val();
        // Kiểm tra xem giá trị có tồn tại không
        if (selectedItemId) {
            // Gọi action trong controller với giá trị selectedItemId
            // Thay đổi đường dẫn và phương thức HTTP tùy thuộc vào ứng dụng của bạn
            $.ajax({
                url: "/XuLy/DLTheater", // Đường dẫn đến action trong controller
                method: "POST", // Phương thức HTTP (POST, GET, PUT, DELETE, etc.)
                data: { itemId: selectedItemId }, // Dữ liệu gửi đi (nếu cần)
                success: function (response) {
                    // Xử lý khi action thành công
                    console.log("Action thành công", response);
                    window.location.href = "/Admin/Admin/Theatre";
                },
                error: function (error) {
                    // Xử lý khi có lỗi xảy ra
                    console.error("Lỗi khi gọi action", error);
                }
            });
        } else {
            // Thông báo nếu giá trị không tồn tại
            console.warn("Không có giá trị được chọn");
        }
    });
    $(document).ready(function () {
        $('.delete-button').click(function (e) {
            e.preventDefault();
            var itemId = $(this).data("id");
            $("#selectedItemId").val(itemId);
            $('#confirmDeleteModal').modal('show');
        });
    });
    $(document).ready(function () {
        $('.huy-button').click(function (e) {
            $('#confirmDeleteModal').modal('hide');
            $('#addTheaterModal').modal('hide');
        });
    });</script>